<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla :: head">
        <title>TODO</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />        
    </head>
    <body>

        <header th:replace="plantillas/plantilla :: header"></header>

        <section class="container">
            <div class="row align-items-center mb-4">
                <span class="fw-bold w-auto">Formulario de Tipos de Bahias</span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <form th:action="@{/guardarTipoBahia}" method="POST" th:object="${tipoBahia}">
                    <input type="hidden" name="idtipos" th:field="*{idtipos}"/> 
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Codigo</label>
                        <input type="text" class="form-control" id="codigo" th:field="*{codigo}" />
                    </div>
                    <div class="mb-3">
                        <label for="tipos" class="form-label">Tipos</label>
                        <input type="text" class="form-control" id="tipos" th:field="*{tipos}" />
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <button type="button" class="btn btn-outline-secondary btn-lg ">
                                <a class="nav-link" th:href="@{/tiposBahias}">Regresar</a>
                            </button>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-outline-primary btn-lg" name="guardar" value="Guardar">Guardar</button>
                        </div>
                    </div>
                </form>


            </div>
        </section>
        
        <section th:replace="plantillas/plantilla :: scriptjs"></section>
        <footer th:replace="plantillas/plantilla :: footer"></footer>

    </body>
</html>
