<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantillas/plantilla :: head">
        <title>Tipos Bahia</title>
        <meta charset="UTF-8" />
    </head>

    <header th:replace="plantillas/plantilla :: header"></header>
    <body>
        <section class="container">
            <div class="row align-items-center mb-4">
                <span class="fw-bold w-auto">Tipos de Bahias</span>

                <button type="button" class="btn btn-primary"> 
                    <a class="nav-link" th:href="@{/agregarTipoBahia}" th:text="Nuevo">Nuevo</a>
                </button>
            </div>
            <div class="divider"></div>
            <table class="table table-striped table-bordered mt-4">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">ID</th>
                        <th scope="col">CODIGO</th>
                        <th scope="col">TIPOS</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipos : ${tiposBahias}">
                        <td th:text="${tipos.idtipos}">Id</td>
                        <td th:text="${tipos.codigo}">codigo</td>
                        <td th:text="${tipos.tipos}">tipos</td>                    
                        <td > 
                            <button type="button" class="btn btn-outline-primary"> 
                                <a class="nav-link" th:href="@{/editar/} + ${tipos.idtipos}">Editar</a>
                            </button>
                        </td>
                        <td> 
                            <button type="button" class="btn btn-outline-danger">
                                <a class="nav-link" th:href="@{/eliminar(id=${tipos.idtipos})}" th:text="Eliminar">Eliminar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section th:replace="plantillas/plantilla :: scriptjs"></section>
        <footer th:replace="plantillas/plantilla :: footer"></footer>
    </body>
</html>
