<!DOCTYPE html>

<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Easyparking</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
        <link rel="stylesheet" th:href="@{/styles.css}" />


    </head>
    <body>
        <header th:fragment="header"> 
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="http://localhost:8080/">
                            <img src="https://misiontic2022.mintic.gov.co/mt2022/assets/assets/images/logo-mision.png" height="32"/>
                            <span class="fs-4">Easyparking</span>

                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Parqueadero</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/agregarTipoBahia}">Bahias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/tiposBahias}">Tipos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Usuario</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <section id="main-header" class="py-2 bg-info text-white">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fas fa-cog"></i> [[#{plantilla.titulo}]]
                            </div>
                        </div>

                    </div>

                </section>
            </div>

        </header>


    <seccion th:fragment="scriptjs">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </seccion>
    
    
    
    <footer th:fragment="footer" class="bg-info text-white position-absolute mt-5 p-10">
        <div class="container-fluid ">
            <div class="col-12">
                <p class="lead text-center">
                    Todos los derechos Reservados &copy; GRUPO 7 - 01 - MISIONTIC2022
                </p>
            </div>
        </div>
    </footer>



</body>
</html>
