<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantillas/plantilla :: head">
        <title>TODO</title>
        <meta charset="UTF-8" />
    </head>
    <header th:replace="plantillas/plantilla :: header"></header>

    <body>
<!--
        <section>
            <div class="container">
                <div class="row align-items-center mb-4">
                    <span class="fw-bold w-auto">Listado de Bahias</span>
                    <button type="button" class="btn btn-primary">
                        <a class="nav-link" th:href="@{/agregarBahia}" th:text="Nuevo">Nuevo</a>
                    </button>
                </div>
                <div class="divider"></div>


                <table class="table table-striped table-bordered mt-4">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">ID</th>
                            <th scope="col">TIPOS</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bahia : ${Bahia}">
                            <td th:text="${bahia.id}">Id</td>
                            <td th:text="${bahia.tipo_bahia}">Tipos</td>
                            <td th:text="${bahia.estado}">Estado</td>                    
                            <td > 
                                <button type="button" class="btn btn-outline-primary"> 
                                    <a class="nav-link" th:href="@{/editar/} + ${bahia.id}">Editar</a>
                                </button>
                            </td>
                            <td> 
                                <button type="button" class="btn btn-outline-danger">
                                    <a class="nav-link" th:href="@{/eliminar(id=${bahia.id})}" th:text="Eliminar">Eliminar</a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div th:if="${bahia == null or bahia.empty}">
                    <h5>No se encontro informacion de bahias </h5>
                </div>

            </div>

        </section>
        comment -->

        <h1>LISTADO DE BAHIAS</h1>

        <!-- comment 
        <div th:if="${bahia != null and !bahia.empty}">

            <table border="1">
                <tr>
                    <th>tipo</th>
                    <th>bahia</th>
                    <th>estado</th>
                </tr>
                <tr th:each="bahias : ${bahia}">
                    <td th:text="${bahias.tipo}">Tipo</td>
                    <td th:text="${bahias.bahia}">bahia</td>
                    <td th:text="${bahias.estado}">estado</td>
                </tr>
            </table>
        </div>
        <div th:if="${bahia == null or bahia.empty}">

-->
        </div>
        <section th:replace="plantillas/plantilla :: scriptjs"></section>
        <footer th:replace="plantillas/plantilla :: footer"></footer>
    </body>
</html>
