body {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer {
    background-color: red;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, .15);
}

.text-justify {
    text-align: justify;
}